*.swp
*.o
tags
cscope.files
cscope.out

*.dSYM

/src/harvid
/src/logo.c
/src/seek.c
/libharvid/libharvid.a
/libharvid/libharvid.so
/libharvid/libharvid.dll
/libharvid/libharvid.dylib

/libharvid/.libharvid.*
/doc/libharvid_example
/tmp/
/pkg/osx/usr
/site/
/update_site.sh
